{% extends "base.html" %}

{% block title %}
  {{page_title.capitalize()}}
{% endblock %}

{% block content %}
  <div class="container justify-content-left w-100 position-relative">
   <div>
      <h1>{{page_title.title()}}</h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} position-absolute top-0 end-0" style="z-index: 9999;">
              <button type="button" class="btn-close position-absolute top-0 end-0 p-3" data-bs-dismiss="alert" aria-label="Close"></button>
              {% if category == "danger" %}
                <p>
                {% for line in message %}
                    {{line}}{{("<br>" if not loop.last else "") | safe}}
                {% endfor %}
                </p>
              {% else %}
                {{ message }}
              {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  
    <form action="" method="POST" class="w-50">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
          {% for field in form %}
              {% if (field.type != "SubmitField") and (field.type != "CSRFTokenField") %}
                  <div class="form-group">
                      {{ field.label(class="form-label mb-0 mt-2") }}
                      {{ field(class="form-control", placeholder=field.label.text) }}
                  </div>
              {% endif %}
          {% endfor %}

          {% for error in form.errors %}
              <span class="form__error">{{ error }}</span>
          {% endfor %}
          
          <div class="form-group pt-4 mb-5">
              {{ form.submit(class="btn btn-primary") }}
          </div>
    </form>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var alertElList = [].slice.call(document.querySelectorAll('.alert'))
      alertElList.forEach(alert => {
        alert.style.display = 'block';
        setTimeout(() => {
          alert.style.display = 'none';
        }, 5000); // hide after 5 seconds
      });
    });
  </script>

      <!-- Adicionando Javascript -->
      <script>
    
        function limpa_formulário_cep() {
                //Limpa valores do formulário de cep.
                document.getElementById('rua').value=("");
                document.getElementById('bairro').value=("");
                document.getElementById('cidade').value=("");
                document.getElementById('uf').value=("");
                document.getElementById('ibge').value=("");
        }
    
        function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
                //Atualiza os campos com os valores.
                document.getElementById('rua').value=(conteudo.logradouro);
                document.getElementById('bairro').value=(conteudo.bairro);
                document.getElementById('cidade').value=(conteudo.localidade);
                document.getElementById('uf').value=(conteudo.uf);
            } //end if.
            else {
                //CEP não Encontrado.
                limpa_formulário_cep();
                alert("CEP não encontrado.");
            }
        }
            
        function pesquisacep(valor) {
    
            //Nova variável "cep" somente com dígitos.
            var cep = valor.replace(/\D/g, '');
    
            //Verifica se campo cep possui valor informado.
            if (cep != "") {
    
                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;
    
                //Valida o formato do CEP.
                if(validacep.test(cep)) {
    
                    //Preenche os campos com "..." enquanto consulta webservice.
                    document.getElementById('rua').value="...";
                    document.getElementById('bairro').value="...";
                    document.getElementById('cidade').value="...";
                    document.getElementById('uf').value="...";
                    document.getElementById('ibge').value="...";
    
                    //Cria um elemento javascript.
                    var script = document.createElement('script');
    
                    //Sincroniza com o callback.
                    script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';
    
                    //Insere script no documento e carrega o conteúdo.
                    document.body.appendChild(script);
    
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        };
    
        </script>
{% endblock %}