{% extends "base.html" %}
{% set current_date = date.today() %}

{% block title %}
  {{page_title.capitalize()}}
{% endblock %}


{% block content %}
  <div class="container justify-content-left w-100 position-relative">

    <div class="container-buttons text-start mb-3">
      <a href={{ url_for(blueprint +'.cadastro') }}
        <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Novo Registro </button>
      </a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} position-absolute top-0 end-0" style="z-index: 9999;">
            <button type="button" class="btn-close position-absolute top-0 end-0 p-3" data-bs-dismiss="alert" aria-label="Close"></button>
            {% if category == "danger" %}
              <p>
              {% for line in message %}
                  {{line}}{{("<br>" if not loop.last else "") | safe}}
              {% endfor %}
              </p>
            {% else %}
              {{ message }}
            {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <table class="table table-hover">
      <thead>
        <tr>
          {% for coluna in colunas %}
            <th scope="col" class="small">{{ coluna }}</th>
          {% endfor %}
          <th scope="col" class="w-auto"></th>
        </tr>
      </thead>
      <tbody>
        {% for dado in dados %}
          {% if page_title == 'contrato' %}
            {% if dado.data_fim < current_date %}
              <tr class="table-danger">
            {% endif %}
          {% else %}
          <tr>
          {% endif %}
            {% for value in dado %}
              <td>{{ value }}</td>
            {% endfor %}
            <td class="text-center">
              <a href="{{ url_for(blueprint +'.edit', id=dado.id) }}"><i class="bi bi-pencil-square"></i></a>
              <a href="{{ url_for(blueprint + '.delete', id=dado.id) }}"><i class="bi bi-trash text-danger"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}